*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  padding: 10px 0 30px 0;
}
.item1{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.item1 > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container{
  width: 100vw;
  height: 100%;
  display: flex;
  
}
.container img{
  width: 100%;
  max-height: 60%;
  object-fit: cover;
  aspect-ratio: 1;
}
.card{
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card:hover{
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
}

article{
  padding: 1em;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}
article h1{
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin: 1rem 0;
  padding: 1rem;
}
article p{
  flex: 1;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  line-height: 1.7rem;
}
article span{
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: bold;
  color: #999;
  padding: 1rem;
}

@media screen and (min-width: 500px) {
  .container{
    grid-template-columns: 1fr 1fr;
  }
  
}
@media screen and (min-width: 900px) {
  .container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}