html{
  box-sizing: border-box;
}
*, ::after, ::before{
  box-sizing: inherit;
}
.sidebar > div > a > i{
  float: right;
} 
nav > a {
  background-color: grey;
  color: white;
  font-size: 24px;
  letter-spacing: 3px;
}
nav > a:hover{
  background-color: black;
  color: #ccc;
}
.content, .auto{
  margin-left: auto;
  margin-right: auto;
}
.dropdown{
  background-color: pink;
  padding: 0 16px;
}
.dropdown > a{
  background-color: cyan;
  color: black;
}
.dropdown > a:hover{
  background-color: green;
  color: white;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.sidebar{
  top: 0;
  position: fixed;
  height: 100%;
  width: 200px;
  z-index: 1;
  background-color: white;
  overflow: auto;
}
.button{
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  color: inherit;
  background-color: inherit;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
.button:hover{
  color:#000;
  background-color:#ccc
}
.block{
  display: block;
  width: 100%;
}
.bar-block .bar-item{
  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  border: none;
  float: none;
  outline: 0;
  white-space: normal;
}
.hover:hover .hide{
  display: block;
  background-color: khaki;
}
.padding-16{
  padding-top: 16px;
  padding-bottom: 16px;
}
.padding-24{
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.padding-64{
  padding-top: 64px;
  padding-bottom: 64px;
}
.padding-large{
  padding: 12px 24px;
}
.large{
  font-size: 18px;
}
.medium{
  font-size: 15px;
}
.col{
  float: left;
  border: 1px solid gray;
}
.l3{
  width: 24.99999%;
}
.s6{
  width: 49.99999%;
}
@media(min-width: 600px){
  .s6{
    width: 49.99999%;
  }
}
@media(min-width: 960px){
  .l3{
    width: 24.99999%;
  }
}

.container{
  padding: 0.01em 16px;
}
.wide{
  letter-spacing: 4px;
}
.white{
  background-color: #fff;
  color: #000;
}
.black{
  background-color: #000;
  color: #fff;
}
.xlarge{
  font-size: 24px !important;
}
.text-gray{
  color: gray;
}
.top{
  top: 0;
}
.top, .bottom{
  position: fixed;
  width: 100%;
  z-index: 1;
}
.hide-large{
  /*display: none;*/
}
.bar{
  width: 100%;
  overflow: hidden;
}
.bar .bar-item{
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
.bar .button{
  white-space: normal;
}
.right{
  float: right !important;
}